@import '_variable'; //變數

// 外部套件
@import '../vendor/swiper/swiper-bundle.min.css'; //swiper初始套件
@import '../vendor/fancybox/fancybox.css'; //fancybox初始套件

// 共通
@import 'basic/_normalize'; //reset
@import 'basic/_mixin'; //mixin功能
@import 'basic/_fontFamily'; //字型檔
@import 'basic/_print'; //列印樣式
@import 'basic/_accessibility'; //無障礙
@import 'basic/_default'; //基本設定
@import 'basic/_flexTemplate'; //flex 版面配置
@import 'components/_icon'; //icon
@import 'components/_button'; //按鈕
@import 'components/_popup'; //彈跳視窗
@import 'components/_form'; //表單
@import 'components/_table'; //表單
@import 'components/_topNav'; //上方功能列
@import 'components/_button'; //按鈕
@import 'components/_sideNav'; //側方功能列
@import 'components/_breadcrumb'; //麵包屑
@import 'components/_functionPanel'; // 內頁功能
@import 'components/_tag'; // 分類
@import 'components/_share'; // 內頁功能
@import 'components/_pagination'; // 分頁
@import 'components/_search'; //搜尋
@import 'components/_language'; //搜尋
@import 'components/_fontsize'; //字體大小
@import 'components/_menu'; //選單
@import 'components/_fatFooter'; //選單
@import 'components/_slider'; //swiper
@import 'components/_accordion'; // 手風琴
@import 'components/_tabs'; //tab
@import 'components/_floatNav'; // 漂浮按鈕
@import 'components/_download'; // 下載檔案
@import 'components/_marquee'; // 跑馬燈

//各別頁面
@import 'template/_header'; //header
@import 'template/_main'; //main
@import 'template/_footer'; //footer
@import 'views/_mp'; //首頁
@import 'views/_np'; //NP
@import 'views/_lp'; //LP
@import 'views/_cp'; //CP
@import 'views/_404'; //CP
@import 'views/_sitemap'; //sitemap
// @import 'pages/_color';