@use 'sass:color';
@use 'sass:math';
@use 'sass:map';
@use "../variable" as *; //變數
@use "../basic/mixin" as *; //mixin

// 共用
.sectionTitle {
  text-align: center;
  margin: 0 0 34px;
}

section {

  & + section {
    padding-top: 40px;
    padding-bottom: 40px;

    @include screen('mobile') {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &:last-child {
    padding-bottom: 0;
  }

  // .container {
  //   max-width: 1370px;
  // }
}

.indexBtn {
  color: #fff;
  min-width: 120px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 16px 4px 24px;

  &::after {
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
  }

  &:hover {
    color: #fff;
  }
}

*:has(.flexFull) {

  .mpSlider,
  .swiperBox {
    margin-top: 0;
  }
}

.blockTypeA {
  .indexBtn {
    margin: 0 0 0 auto
  }

  ul.listBox {
    @include liReset();
    margin-bottom: 30px;

    @include screen('mobile') {
      border-top: 3px solid #DEE0E3;
    }

    li {
      border-bottom: 1px solid #DEE0E3;
      padding: 24px 0;
    }

    a {
      display: flex;
      align-items: flex-start;
      gap: 24px;
      text-decoration: none;

      @include screen('mobile') {
        flex-direction: column;
        gap: 8px;
      }

      &:not(:hover) {
        .title {
          color: $colorWord;
        }
      }
    }

    time {
      color: $colorWordLight;
      line-height: 2;
    }

    .title {
      @include lineClamp(4);
      margin: 0;
      font-size: Rem(16);
      line-height: 2;
      @include transition(0.3);
    }
  }
}

.blockTypeB {
  ul.listBox {
    @include liReset();
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px 0;

    @include screen('mobile') {
      padding: 10px 0;
    }

    li {
      flex-grow: 1;

      a {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-decoration: none;

        @include screen('mobile') {
          flex-direction: column;
          gap: 8px;
        }

        &:not(:hover) {
          .title {
            color: $colorWord;
          }
        }
      }

      i {
        width: 100%;
        aspect-ratio: 1;
        line-height: 0;
        max-width: 100px;
        margin: 0 auto;
        border-radius: 50%;
        background: linear-gradient(0deg, #80CBD7 0%, #035FA3 52.69%, #00428E 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;

        img {
          width: 100%;
          max-width: 50px;
          aspect-ratio: 1;
          object-fit: contain
        }
      }

      .title {
        @include lineClamp(2);
        margin: 0;
        font-size: Rem(18);
        line-height: 2;
        @include transition(0.3);
        text-align: center;
      }
    }
  }
}

.blockTypeC {

  .item {
    position: relative;
    isolation: isolate;

    &::before {
      content: '';
      inset: 0;
      position: absolute;
      z-index: 2;
      inset: 0;
      background: rgba(#000, 0.2);
      pointer-events: none;
      @include transition(0.3);
    }

    &::after {
      content: '';
      position: absolute;
      background: url('../images/demo/icon/play_arrow.svg') no-repeat center;
      display: block;
      width: 56px;
      aspect-ratio: 1;
      z-index: 3;
      border: 1px solid #fff;
      border-radius: 50%;
      pointer-events: none;
      @include transition(0.3);
    }

    &:focus-visible,
    &:hover {

      &::before,
      &::after {
        opacity: 0;
      }
    }
  }
}

.blockTypeD {
  .indexBtn {
    margin: 0 0 0 auto
  }

  .listBox {
    @include liReset;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 30px 0;

    @include screen('tablet') {
      gap: 20px;
    }

    li {
      width: itemWidth(40, 3);
      background: #fff;
      box-shadow: 0px 4px 16px -4px rgba(38, 43, 67, 0.30);
      @include transition(0.3);

      @include screen('tablet') {
        width: itemWidth(20, 2);
      }

      @include screen('xsMobile') {
        width: 100%;
      }

      &:hover {
        transform: translate(-5px, -5px);
        box-shadow: 5px 9px 16px -4px rgba(38, 43, 67, 0.30);
      }

      a {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 0;
        text-decoration: none;
        padding: 8px;

        &:not(:hover) {
          color: $colorWord;
        }

        .pic {
          max-width: 100%;
          flex-shrink: 0;
          line-height: 0;
          overflow: hidden;

          img {
            aspect-ratio: 4/3;
          }
        }

        .infoBox {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex-grow: 1;
          gap: 10px;
          padding: 16px;
        }

        .title {
          font-weight: 500;
          font-size: Rem(24);
          line-height: 1.5;
          @include lineClamp(1);
          letter-spacing: 1.2px;
          color: $colorWord;

          @include screenMax('1300') {
            font-size: Rem(22);
          }
        }

        .con {
          @include lineClamp(2);
          color: $colorWordLight;
        }

        .more {
          width: 100%;
        }
      }
    }
  }
}

.blockTypeE {
  .listBox {
    @include liReset;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 30px 0;

    @include screen('tablet') {
      gap: 20px;
    }

    li {
      width: itemWidth(40, 2);
      background: #fff;
      box-shadow: 0px 4px 16px -4px rgba(38, 43, 67, 0.30);
      @include transition(0.3);

      @include screen('mobile') {
        width: 100%;
      }

      &:hover {
        transform: translate(-5px, -5px);
        box-shadow: 5px 9px 16px -4px rgba(38, 43, 67, 0.30);
      }

      a {
        display: flex;
        position: relative;
        padding: 0;
        text-decoration: none;
        padding: 8px;
        gap: 8px;

        &:not(:hover) {
          color: $colorWord;
        }

        .pic {
          width: 43%;
          max-width: 100%;
          flex-shrink: 0;
          line-height: 0;
          overflow: hidden;

          img {
            aspect-ratio: 4/3;
          }
        }

        .infoBox {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          gap: 10px;
          padding: 8px;
        }

        .title {
          font-weight: 500;
          font-size: Rem(24);
          line-height: 1.5;
          @include lineClamp(1);
          letter-spacing: 1.2px;
          color: $colorWord;

          @include screenMax('1300') {
            font-size: Rem(22);
          }
        }

        .con {
          @include lineClamp(3);
          color: $colorWordLight;
        }

        .more {
          width: 100%;
        }
      }
    }
  }
}

.blockTypeF {
  .tabItems {
    justify-content: flex-start;
  }

  .inputBox {
    flex-grow: 1;
  }

  .submit {
    min-width: 100px;
    width: 15%;
  }
}

.blockTypeG {
  .tabBtnBox {
    .tabItems {
      min-width: 100%;
    }
  }

  .multipleSlider {
    position: relative;
    isolation: isolate;

    .swiperBox {
      padding: 30px 70px;

      @include screen('tablet') {
        padding: 10px 40px;
      }
    }

    a {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }

    .caption {
      text-align: center;
      color: $colorWord;
      @include lineClamp(2);
    }
  }
}

.blockTypeH {
  @include screen('mobile') {
    gap: 50px;
  }

  .tabItems {
    display: flex;
    gap: 10px;
    overflow-x: auto;

    .box {
      min-width: 100%;
      display: flex;
      justify-content: center;
      flex-shrink: 0;
    }

    .tabBtn {
      flex-shrink: 0;
    }
  }
}

.blockTypeI {
  .indexBtn {
    margin: 0 auto
  }

  ul.listBox {
    @include liReset();
    margin-bottom: 30px;

    @include screen('mobile') {
      border-top: 3px solid #DEE0E3;
    }

    li {
      border-bottom: 1px solid #DEE0E3;
      padding: 24px 0;
    }

    a {
      display: flex;
      align-items: flex-start;
      gap: 24px;
      text-decoration: none;

      @include screen('mobile') {
        flex-direction: column;
        gap: 8px;
      }

      &:not(:hover) {
        .title {
          color: $colorWord;
        }
      }
    }

    time {
      color: $colorWordLight;
      line-height: 2;
    }

    .title {
      @include lineClamp(1);
      margin: 0;
      font-size: Rem(16);
      line-height: 2;
      @include transition(0.3);
    }

    .tag {
      width: 80px;
      flex-shrink: 0;
      text-align: right;
      color: $colorWordLight;

      @include screen('mobile') {
        text-align: left;
        width: auto;
      }
    }
  }
}

.blockTypeJ {
  ul.listBox {
    width: fit-content;
    @include liReset();
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 45px;
    padding: 0 30px;
    margin: 0 auto;

    @include screen('mobile') {
      padding: 10px 0;
      flex-direction: row;
      gap: 30px 20px;
    }

    li {
      flex-grow: 1;

      @include screen('mobile') {
        width: itemWidth(20, 5);
      }

      @include screen('xsMobile') {
        width: itemWidth(20, 3);
      }

      a {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;

        @include screen('mobile') {
          flex-direction: column;
          gap: 8px;
          text-align: center;
        }

        &:not(:hover) {
          .title {
            color: $colorWord;
          }
        }
      }

      i {
        width: 100%;
        aspect-ratio: 1;
        line-height: 0;
        max-width: 60px;
        border-radius: 50%;
        background: linear-gradient(0deg, #80CBD7 0%, #035FA3 52.69%, #00428E 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;

        img {
          width: 100%;
          max-width: 50px;
          aspect-ratio: 1;
          object-fit: contain
        }
      }

      .title {
        margin: 0;
        font-size: Rem(18);
        line-height: 1.4;
        @include transition(0.3);
      }
    }
  }
}


.nBoxOut {
  display: flex;
  gap: 30px;

  .nBox {
    width: 150px;
    height: 150px;
    background: $colorPrimary;

    &:nth-child(2) {
      background: $colorPrimaryLight;
    }

    &:nth-child(3) {
      background: $colorPrimaryDark;
    }
  }
}