@use 'sass:color';
@use 'sass:math';
@use 'sass:map';
@use "../variable" as *; //變數
@use "../basic/mixin" as *; //mixin

.breadcrumb {

  ul {
    display: flex;
    flex-flow: row wrap;

    li {
      margin: 0px 0.1em 0.1em 0px;
      color: #69707D;
      line-height: 2;

      & + li {
        &:before {
          content: ' / ';
          display: inline-block;
          padding: 0px 4px;
          margin: 0px 5px 0px 5px;
          color: #ccc;
        }
      }

      a {
        text-decoration: none;

        &:not(:hover) {
          color: #69707D;
        }
      }
    }
  }
}