@use 'sass:color';
@use 'sass:math';
@use 'sass:map';
@use "../variable" as *; //變數
@use "../basic/mixin" as *; //mixin

.fatFooter {
  width: 100%;
  background: linear-gradient(180deg, #DEE0E3 0%, #F8F8F8 77%);

  a {
    text-decoration: none;
  }

  #fatFooterBtn {
    background: $colorPrimary;
    position: absolute;
    width: 70px;
    height: 30px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 13px 30px 8px;
    border-radius: 0 0 var(--borderRadius8) var(--borderRadius8);

    &::before {
      content: '';
      position: absolute;
      top: 12px;
      left: 30px;
      display: block;
      width: 12px;
      height: 12px;
      border: 3px solid #fff;
      border-left: none;
      border-bottom: none;
      transform: rotate(-45deg);
    }

    &.active {
      &::before {
        top: 8px;
        transform: rotate(135deg);
      }
    }
  }

  nav {
    padding: 68px 0 30px;
  }

  ul {
    @include liReset;
    display: flex;
  }

  nav > ul {
    gap: 5px 20px;

    @include screen('tablet') {
      flex-direction: column;
    }

    & > li {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: itemWidth(20, 6);

      @include screen('tablet') {
        width: fit-content;
      }

      & > a {
        font-size: Rem(16);
        font-weight: bold;
        padding: 12px 0;

        &:not(:hover) {
          color: #111111;
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      // overflow: hidden;
      gap: 15px;

      @include screen('tablet') {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 6px 20px;
      }

      li {

        a {
          font-size: Rem(15);

          &:not(:hover) {
            color: $colorWord;
          }
        }
      }
    }
  }
}