@use "sass:math";

.notionInfo {
  color: $colorWord;

  span {
    color: red;
  }
}

.formBox {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .formGrp {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 16px;
    align-items: flex-start;
  }

  --titleWidth: 160px;


  &:has(.gridBox) {
    .gridBox {
      border-top: 2px solid $tableNormal;

      .formListTitle {
        width: var(--titleWidth) !important;
        flex-shrink: 0;
      }

      .formList {
        @include screen('mobile') {
          padding-left: 0 !important;
          padding-top: 20px !important;

          .formListTitle {
            width: 100% !important;
          }
        }
      }

      & > .formList {
        // flex-direction: row;
        flex-wrap: nowrap;
        flex-grow: 1;
        padding: 20px 0;
        border-bottom: 1px dashed $tableNormal;

        &.inline {
          flex-wrap: nowrap;

          @include screen('mobile') {
            flex-direction: column !important;
            gap: 8px;
            align-items: stretch;

            legend {
              margin-bottom: 5px;
            }
          }
        }

        .formContent {
          flex-grow: 1;

          &:has(.formList) {
            gap: 0;
          }
        }

        .formList {
          padding: 12px 0;

          @include screen('mobile') {
            width: 100%;
          }

          &:first-child {
            padding-top: 0;
          }

          legend {
            top: 13px;
          }

          & + .formList {
            border-top: 1px dashed $tableNormal;
          }
        }
      }

      .inline {
        legend {
          top: 20px;
        }
      }
    }
  }


  .btnBox {
    display: flex;
    gap: 10px;
  }

  // 共用
  fieldset,
  legend {
    all: unset;
  }

  .formList {
    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    gap: 8px;

    .formListTitle {
      padding: 10px 0;
      line-height: 1.4;
      white-space: nowrap;
      color: $colorWord;

      @include screen('mobile') {
        width: auto;
        padding: 0px;
      }
    }

    .inputFile {
      flex-grow: 1;
      min-width: 200px;
      color: $colorWord;
      padding: 4px 12px;
      border-radius: var(--borderRadius);
      border: 1px solid $tableNormal;
      background: #FFF;
      align-self: stretch;
      height: 44px;
      position: relative;

      input {
        border: none;
        background: none;
      }

      .uploadStyle {
        position: absolute;
        right: 5px;
        top: 5px;
        padding: 0px 16px;
        border-radius: var(--borderRadius);
        cursor: pointer;
      }

      .downloadFile {
        position: absolute;
        inset: 0;
        opacity: 0;
      }

      .fileName {
        width: calc(100% - 150px);
        @include lineClamp(1);
      }
    }

    .formContent {
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      position: relative;
      isolation: isolate;
      gap: 8px;

      @include screen('mobile') {
        width: 100%;
      }

      &.inline {
        align-items: center;
      }
    }

    .formEyes {
      position: absolute;
      right: 12px;
      top: 10px;
      border: none;
      width: 24px;
      height: 24px;
      padding: 0;
      margin: 0;
      border-radius: 0;
      background: url('../images/basic/icon/visibility_off_dk.svg') no-repeat center;

      &.active {
        background: url('../images/basic/icon/visibility_dk.svg') no-repeat 0px -1px;
      }
    }

    // 預設
    input:not([type="checkBox"], [type="radio"]),
    select,
    textarea {
      color: $colorWord;
      padding: 0px 12px;
      border-radius: var(--borderRadius2);
      border: 1px solid $tableNormal;
      background: #FFF;
      flex-grow: 1;

      &::placeholder {
        color: $colorWord;
      }

      &:focus-visible {
        outline-color: $formFocus;
        outline-offset: 0;
      }

      // 禁用
      &[disabled] {
        background: $formDisabled;
        cursor: not-allowed;

        &::placeholder {
          opacity: 0.75;
        }
      }
    }

    textarea {
      min-height: 100px;
    }

    // 必填
    .formListTitle {
      em {
        color: $colorError;
        margin-right: 4px;
      }
    }

    // 錯誤
    &.error {

      input:not([type="checkBox"], [type="radio"]),
      select,
      textarea {
        border-color: $formError;

        &::placeholder {
          color: $formError;
        }

        &:focus-visible {
          outline-color: $colorError;
          outline-offset: 0;
        }
      }
    }

    .help {
      width: 100%;
      color: $colorWord;
      font-size: Rem(15);
      font-weight: 400;
    }

    &:not(.inline) {
      legend {
        margin-bottom: 8px;
      }
    }
  }

  .inputBox {
    flex-grow: 1;
    position: relative;

    input {
      width: 100%;
    }

    // icon
    i {
      position: absolute;
      top: 10px;
      z-index: 2;

      &::before {
        content: '';
        width: 24px;
        height: 24px;
        display: block;
      }
    }

    // icon在前面
    &:has(i + input) {
      i {
        left: 10px;
      }

      input:not([type="checkBox"], [type="radio"]),
      select,
      textarea {
        padding-left: 40px;
      }
    }

    * + i {
      right: 10px;

      input:not([type="checkBox"], [type="radio"]),
      select,
      textarea {
        padding-right: 52px;
      }
    }
  }

  $itemGap: 14px;

  // 水平行內表單
  .inline {
    flex-direction: row !important;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: $itemGap;

    label:has([type="checkbox"]),
    label:has([type="radio"]) {
      word-break: break-all;
    }

    & > .inputOption {
      & + .inputOption {
        margin-left: 10px;
      }

      & + input {
        width: auto;
        flex-grow: 1;
      }
    }

    .select {
      flex-grow: 1;
    }
  }

  fieldset {
    position: relative;

    .legend {
      width: var(--titleWidth);
      display: block;
      position: relative;
    }

    &.inline {
      display: flex;
      flex-direction: row;
      padding-left: calc(var(--titleWidth) + $itemGap) !important;
      position: relative;

      .legendBox {
        flex-shrink: 0;
        flex-grow: 1;
      }

      legend {
        width: var(--titleWidth);
        position: absolute;
        left: 0;
        top: 0px;
        transform: none;

        @include screen('mobile') {
          position: relative;
        }
      }
    }
  }


  .noFull {

    & > *:not(label, [type="checkBox"], [type="radio"]) {
      width: fit-content;
      flex-grow: unset !important;
    }

    .inputBox {
      width: fit-content;
    }
  }

  .inputOption {
    cursor: pointer;

    // checkbox
    &:has([type="checkbox"]) {
      position: relative;
      display: flex;
      gap: 8px;
      align-items: flex-start;
      cursor: pointer;
      padding: 4px 0;

      &::before {
        content: '' !important;
        width: 24px;
        height: 24px;
        border: 2px solid $checkboxRadio;
        position: absolute;
        top: 9px;
        left: 0;
        border-radius: var(--borderRadius2);
        pointer-events: none;
      }

      [type="checkbox"] {
        width: 24px;
        height: 24px;
        margin-top: 4px;
        opacity: 0;
        cursor: pointer;
      }

      &:has([type="checkbox"]:focus-visible) {
        &::before {
          border-color: $colorPrimary;
          outline: 1px solid$colorPrimary;
        }
      }

      &:has([type="checkbox"]:checked) {
        &::before {
          background: url('../images/basic/icon/check_w.svg'), $colorPrimary;
          border-color: $colorPrimary;
          background-position: center center;
        }
      }
    }

    // radio
    &:has([type="radio"]) {
      padding: 4px 0;
      position: relative;
      display: flex;
      gap: 8px;
      align-items: flex-start;
      cursor: pointer;

      &::before {
        content: '' !important;
        width: 20px;
        height: 20px;
        border: 2px solid $checkboxRadio;
        position: absolute;
        top: 12px;
        left: 0;
        border-radius: 50%;
        pointer-events: none;
      }

      [type="radio"] {
        width: 20px;
        height: 20px;
        // margin-top: 7px;
        opacity: 0;
        cursor: pointer;
      }

      &:has([type="radio"]:focus-visible) {
        &::before {
          outline: 2px solid red;
          outline-offset: 2px;
        }
      }

      &:has([type="radio"]:checked) {
        &::before {
          background: $colorPrimary;
          box-shadow: inset 0px 0px 0px 2px #fff;
          border-color: $colorPrimary;
        }
      }
    }

    // checkbox,radio禁用
    &:has(input[disabled]) {
      cursor: not-allowed !important;
      opacity: 0.5;

      input {
        cursor: not-allowed !important;
      }
    }

    label {
      order: 2;
    }
  }

  // form notice
  [class^='formNotice'] {
    position: relative;
    width: 100%;
    padding: 4px 42px 4px 12px;
    color: $noticeNormalGWord;
    background: $noticeNormalGBg;
    border-radius: var(--borderRadius2);
    isolation: isolate;

    &::before {
      width: 20px;
      height: 20px;
      display: block;
      position: absolute;
      top: 10px;
      left: 12px;
      z-index: 2;
    }

    .noticeClose {
      position: absolute;
      right: 5px;
      top: 8px;
      background: none;
      border-radius: 0;
      padding: 0;
      width: 24px;
      height: 24px;
      background: url('../images/basic/icon/close_dk.svg') no-repeat center;
      opacity: 0.4;
    }
  }

  [class^='formNoticeInfo'] {
    color: $noticeNormalWord;
    background-color: $noticeNormalBg;
    padding-left: 42px;

    &:before {
      content: '';
      background-image: url('../images/basic/icon/info.svg');
    }
  }

  [class^='formNoticeSuccess'] {
    color: $noticeSuccessWord;
    background-color: $noticeSuccessBg;
    padding-left: 42px;

    &:before {
      content: '';
      background-image: url('../images/basic/icon/check_circle.svg');
    }
  }

  [class^='formNoticeWarning'] {
    color: $noticeWarningWord;
    background-color: $noticeWarningBg;
    padding-left: 42px;

    &:before {
      content: '';
      background-image: url('../images/basic/icon/warning.svg');
    }
  }

  [class^='formNoticeError'] {
    color: $noticeErrorWord;
    background-color: $noticeErrorBg;
    padding-left: 42px;

    &:before {
      content: '';
      background-image: url('../images/basic/icon/cancel.svg');
    }
  }

  .formBtnBox {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 24px 0 0;
  }

  [class*="flexTpl"] {
    flex-direction: row !important;
    gap: 8px;
    position: relative;
    flex-grow: 1;

    &:not(:has(.inline)) {

      input:not([type="checkBox"], [type="radio"]),
      select,
      textarea {
        width: 100%;
      }
    }
  }

  [class*="flexTpl"] {
    flex-wrap: nowrap;

    @include screen('tablet') {
      flex-wrap: wrap;
    }
  }
}

.select {
  position: relative;
  isolation: isolate;

  &::before {
    content: '';
    width: 24px;
    height: 24px;
    display: block;
    background: url('../images/basic/icon/select_arrow_dk.svg') no-repeat center;
    z-index: 9;
    position: absolute;
    right: 5px;
    top: 10px;
    pointer-events: none;
  }

  & > select {
    width: 100%;
    padding-right: 30px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &[disabled] {
      background: $formDisabled;
      opacity: 1;
    }
  }

}

// captcha
img.captcha {
  padding: 0;
  line-height: 0;
  border-radius: 0;
  vertical-align: middle;
  max-height: 2.5em;
  margin: 0 0.3em;
  border: 1px solid #ccc;
}