[class^='i_'] {
  &::before {
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

// icon List

// E
.i_email_w {
  &::before {
    background-image: url('../images/basic/icon/email_w.svg');
  }
}

.i_email_dk {
  &::before {
    background-image: url('../images/basic/icon/email_dk.svg');
  }
}

// F
.i_formEyes_dk {
  &::before {
    background-image: url('../images/basic/icon/visibility_off_dk.svg');
  }
}

// L
.i_language_w {
  &::before {
    background-image: url('../images/basic/icon/language_w.svg');
  }
}

.i_language_dk {
  &::before {
    background-image: url('../images/basic/icon/language_dk.svg');
  }
}

.i_language_b {
  &::before {
    background-image: url('../images/basic/icon/language_b.svg');
  }
}

.i_lock_dk {
  &::before {
    background-image: url('../images/basic/icon/lock_dk.svg');
  }
}

// R
.i_refresh_w {
  &::before {
    background-image: url('../images/basic/icon/refresh_w.svg');
  }
}

// S
.i_search_dk {
  &::before {
    background-image: url('../images/basic/icon/search_dk.svg');
  }
}

.i_sound_w {
  &::before {
    background-image: url('../images/basic/icon/sound_w.svg');
  }
}

// T
.i_tag_dk {
  &::before {
    background-image: url('../images/basic/icon/tag_dk.svg');
  }
}