@use 'sass:color';
@use 'sass:math';
@use 'sass:map';
@use "../variable" as *; //變數
@use "../basic/mixin" as *; //mixin

//語言
.subNavList .language {
  position: relative;
  z-index: 50;

  & > button {

    @include screen('tablet') {
      text-align: left;
      display: block;
      background: rgba(#000, 0.1);
      position: relative;
      border-radius: var(--borderRadius8);
      margin: 0;
      width: 100%;
      padding: 3px 30px 3px 16px;
      border: rgba(#fff, 0.3) 1px solid;
      color: #fff;
    }

    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 3px 0 3px;
      border-color: #fff transparent transparent transparent;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }
  }

  &.sliderFn {
    & > button {
      &::before {
        border: none;
        background: url('../images/basic/icon/language_w.svg') center no-repeat;
      }
    }
  }
}

.language {
  @include screen('tablet') {
    width: 100%;
  }

  & > button {

    @include screen('tablet') {
      text-align: left;
      display: block;
      background: rgba(#000, 0.1);
      position: relative;
      border-radius: var(--borderRadius8);
      margin: 0;
      width: 100%;
      padding: 3px 30px 3px 16px;
      border: rgba(#fff, 0.3) 1px solid;
      color: #fff;
    }
  }

  ul {
    width: 100%;
    min-width: 110px;
    left: 50%;
    top: calc(100% + 5px);
    transform: translateX(-50%);
    position: absolute;
    @include liReset;
    display: none;
    background: #fff;
    border-radius: var(--borderRadius8);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;


    li + li {
      margin-top: 5px;
    }

    a {
      padding: 6px 16px;
      display: block;
      color: $colorWord;
      line-height: 1.6;
      @include transition(0.3);

      &:focus-visible {
        outline-offset: -2px;
      }

      &:hover {
        color: #fff;
        background: $colorPrimary;
      }
    }
  }
}