@use 'sass:color';
@use 'sass:math';
@use 'sass:map';
@use "../variable" as *; //變數
@use "../basic/mixin" as *; //mixin

*:has(.topSearch) {
  .webSearch {
    @include screen('tabletMin') {
      position: absolute;
      display: none;
      top: 100%;
      right: 10px;
      background: #fff;
      border-radius: var(--borderRadius8);
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    }
  }

  .webSearchContent {
    padding: 20px;
  }
}

.topSearch {
  & > button {
    &::before {
      background: url('../images/basic/icon/search_w.svg') center no-repeat;
    }
  }
}

#mobileSearchBtn {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  color: transparent;
  width: 60px;
  aspect-ratio: 1/1;
  padding: 0;
  margin: 0;
  border: none;
  display: none;
  background: none;

  @include screen('tablet') {
    display: block;
  }

  &::before {
    content: '';
    width: 100%;
    position: absolute;
    z-index: 2;
    aspect-ratio: 1/1;
    display: block;
    background: url('../images/basic/icon/search_w.svg') center no-repeat;
    width: 28px;
    height: 28px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

// 搜尋 
.webSearch {
  vertical-align: top;
  margin: 0 0 0 auto;
  order: 3;
  z-index: 55;

  @include screen('tablet') {
    width: 100%;
    position: fixed;
    top: 60px;
    background: rgba(#000, 0.8);
    right: 0px;
    margin: 0;
    display: none;
  }

  .webSearchContent {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 10px;

    @include screen('tablet') {
      padding: 20px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
  }

  .formList {
    display: flex;
    gap: 5px;

    input {
      flex-grow: 1;
    }

    & > * {
      @include screen('mobile') {
        flex-grow: 1;
      }
    }

    button {
      flex-shrink: 0;
      white-space: nowrap;
    }
  }

  .hotKeyword {
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-end;
      list-style-type: none;
      gap: 10px;

      li {
        margin: 0;
        flex: 0 0 auto;
      }
    }

    a {
      text-decoration: none;

      &:not(:hover) {
        color: $colorWord;

        @include screen('tablet') {
          color: #fff;
        }
      }

      @include screen('tablet') {
        &:hover {
          color: color.scale($colorPrimary, $lightness: 50%);
        }
      }
    }
  }
}