@use 'sass:color';
@use 'sass:math';
@use 'sass:map';
@use "../variable" as *; //變數
@use "../basic/mixin" as *; //mixin

.sideNav {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  flex-shrink: 0;

  button#sideNavBtn {
    width: 35px;
    padding: 34px 8px 12px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    writing-mode: vertical-rl;
    position: sticky;
    top: 80px;
    letter-spacing: 2px;
    color: #fff;
    background: $colorPrimary;
    border-radius: var(--borderRadius8);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: none;


    &::before {
      content: '';
      width: 7px;
      height: 7px;
      border-bottom: 3px solid #FFF;
      border-right: 3px solid #FFF;
      position: absolute;
      top: 14px;
      left: 35%;
      transform: rotate(-45deg);
      transform-origin: center;
    }

    &.active {
      &::before {
        left: 40%;
        transform: rotate(135deg);
      }
    }
  }

  #sideMenu {
    flex-grow: 1;
    overflow: hidden;
    border-radius: var(--borderRadius8);
    background: #FFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: var(--sideFixTop);

    .sideMenuContent {
      width: 260px;
      display: flex;
      padding: 20px 15px;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      height: 100%;

      .sideTitle {
        font-size: Rem(28);
        font-weight: 700;
        margin-bottom: 10px;
        line-height: 1.2;
        letter-spacing: 1.6px;
        text-align: center;
      }

      .sideNavBox {
        overflow-y: auto;
        padding: 4px;
        width: 100%;

        & > ul {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 16px;

          .hasChild {
            &.needLink {
              a {
                position: relative;
                flex-grow: 1;
                padding-right: 10px;
              }

              button {
                padding: 0;
                margin: 0;
                border: none;
                background: none;
                width: 30px;
                position: relative;
                margin: 0 0 0 auto;
                border-radius: var(--borderRadius4);
                overflow: hidden;

                &::before {
                  content: '';
                  inset: 0;
                  position: absolute;
                  background: linear-gradient(90deg, #00428E 0%, #057BB7 100%);
                  opacity: 0;
                }
              }
            }

            &.needLink > button,
            &:not(.needLink) > a {

              &::after {
                content: '';
                width: 7px;
                height: 7px;
                border-bottom: 3px solid #555;
                border-left: 3px solid #555;
                position: absolute;
                right: 12px;
                top: 18px;
                transform: rotate(-45deg);
                transform-origin: center center;
              }
            }

            &.active {

              & > a,
              & > button {
                color: $colorPrimary;
              }

              &.needLink > button,
              &:not(.needLink) > a {
                &::after {
                  top: 20px;
                  transform: rotate(135deg);
                }
              }
            }
          }

          & > li {
            background: #F8F8F8;
            border-radius: var(--borderRadius4);

            & > a {
              flex-grow: 1;
              display: flex;
              align-items: center;
              gap: 8px;
              font-weight: 700;
              padding: 8px 12px;
              line-height: 2;
              isolation: isolate;
              border-radius: var(--borderRadius4);
              background: #F8F8F8;
              position: relative;

              &:not(:hover) {
                color: $colorWord;
              }

              &::before {
                content: '';
                position: absolute;
                z-index: -1;
                width: 100%;
                left: 0;
                top: 0;
                bottom: 0;
                background: linear-gradient(90deg, #00428E 0%, #057BB7 100%);
                opacity: 0;
                border-radius: var(--borderRadius4);
                @include transition(0.3);
              }

              i {
                line-height: 0;
              }
            }

            &.active > a,
            & > a:hover {
              color: #fff !important;

              &::before {
                opacity: 1;
              }

              &::after {
                border-color: #fff !important;
              }

              .icon {
                filter: brightness(50);
              }
            }

            &.needLink.active {
              & > a {
                &::before {
                  width: calc(100% + 30px) !important;
                  left: 0 !important;
                }
              }

              & > button {
                &::after {
                  border-color: #fff !important;
                }
              }
            }

            &.needLink:has(button:hover) {
              & > a {
                &::before {
                  width: 30px;
                  left: 100%;
                  opacity: 1;
                }
              }

              & > button {
                &::after {
                  border-color: #fff !important;
                }
              }
            }

            li {

              a {
                display: flex;
                flex-grow: 1;
                align-items: center;
                gap: 8px;
                font-style: normal;
                font-weight: 400;
                line-height: 2;
                padding: 8px 12px 8px 48px;

                &:not(:hover) {
                  color: $colorWord;
                }
              }

              li {
                a {
                  &::before {
                    content: '';
                    height: 1px;
                    width: 12px;
                    background: #555;
                    margin: 0 3px;
                  }
                }
              }
            }
          }

          ul {
            width: 100%;
            display: none;
          }

          li {
            display: flex;
            flex-wrap: wrap;
            position: relative;
          }

          a {
            text-decoration: none;
          }
        }
      }
    }
  }

  &.typeA {
    @include screen('tablet') {
      position: fixed;
      z-index: 50;
      left: 0;
      top: var(--sideFixTop);
      gap: 0;
      height: calc(100vh - var(--sideFixTop) - 40px);

      button#sideNavBtn {
        width: 30px;
        position: fixed;
        border-radius: 0 var(--borderRadius8) var(--borderRadius8) 0;
        order: 4;
        top: 0;
      }

      #sideMenu {
        display: none;
        height: 100%;
      }
    }
  }

  &.typeB {
    @include screen('tablet') {
      flex-direction: column;

      button#sideNavBtn {
        width: 100%;
        writing-mode: unset;
        flex-direction: row;
        justify-content: space-between;
        padding: 8px 20px 8px 20px;

        &::before {
          order: 2;
          position: relative;
          top: auto;
          left: auto;
          transform: rotate(45deg);
        }

        &.active {
          &::before {
            transform: rotate(-135deg);
          }
        }
      }

      #sideMenu {
        width: 100%;
        display: none;

        .sideMenuContent {
          width: 100%;
        }
      }
    }
  }
}