@use 'sass:color';
@use 'sass:math';
@use 'sass:map';
@use "../variable" as *; //變數
@use "../basic/mixin" as *; //mixin

header {
  @include screen('tabletMin') {
    padding: 10px 0 0;
  }

  .topNav {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 60;

    @include screen('tablet') {
      display: none;
    }
  }
}

// navigation
.topNav {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
  // margin-top: 10px;
  font-size: Rem(15);
  z-index: 20;

  .accessKeyItem {
    top: auto;
    left: auto;
    position: relative;
    color: $colorWord;
  }

  .navList {
    display: flex;
    position: relative;
    z-index: 20;

    & > ul {
      display: flex;
      @include liReset;

      a {
        padding: 5px 10px;
        border-radius: var(--borderRadius4);
        font-weight: 400;
        line-height: 1.4;
        display: block;

        &:not(:hover) {
          color: $colorWord;
        }
      }
    }

    .sliderFn {
      position: relative;

      & > button {
        padding: 5px 25px 5px 10px;
        background: none;
        font-weight: 400;
        line-height: 1.4;

        &:after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 6px 3px 0 3px;
          border-color: $colorWord transparent transparent transparent;
          top: 50%;
          right: 10px;
          // transform: translateY(-40%);
        }

        &.active,
        &:hover {
          color: $colorPrimary;

          &:after {
            border-color: $colorPrimary transparent transparent transparent;
          }
        }
      }

      ul {
        display: none;
      }
    }
  }

  a {
    text-decoration: none;
  }
}

.subNavList {
  display: flex;
  align-items: center;
  gap: 12px;
  z-index: 10;

  .sliderFn {
    line-height: 0;

    & > button {
      text-indent: -99999px;
      overflow: hidden;
      position: relative;
      padding: 0;
      margin: 0;
      width: 44px;
      height: 44px;
      background: $navSurface;
      border-radius: 50%;
      font-weight: 600;
      line-height: 0;
      border: none;
      @include transition(0.3);

      &::after {
        display: none;
      }

      &::before {
        content: '';
        position: absolute;
        width: 22px;
        height: 22px;
        right: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &.active,
      &:hover {
        background: $navSurfaceHover;
      }
    }
  }
}