@use 'sass:color';
@use 'sass:math';
@use 'sass:map';
@use "../variable" as *; //變數
@use "./mixin" as *; //mixin

.testBox {
  position: fixed;
  z-index: 99;
  width: 100%;
  pointer-events: none;
  opacity: 0.05;

  .container {
    display: flex;
    width: 100%;
    height: 100vh;
  }

  span {
    height: 100%;
    width: calc((100% - (20px * 11))/12);
    display: block;
    padding: 1px;
    background: $colorPrimary;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

*:has(.flexFull) {
  & > .container {
    max-width: none;
    padding: 0;
    margin: 0;
  }
}

.flexTemplate {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 45px;

  h2 {
    margin: 0;
  }


  .card {
    padding: 20px;
    border-radius: var(--borderRadius8);
    box-shadow: 0px 4px 16px -4px rgba(34, 34, 34, 0.30);
  }
}

[class*="flexTpl"] {
  display: flex;
  flex-wrap: wrap;
  gap: #{$flexTemplateGap}px;
  position: relative;

  @include screen('mobile') {
    flex-direction: column;
  }

  .col {
    flex-grow: 1;

    @include screen('mobile') {
      width: 100% !important;
    }
  }
}

.flexTpl_12 {
  display: block;
}


.flexTpl_8_4 {
  .col {
    &:nth-child(1) {
      flex: 1 1 flexWidth($flexTemplateGap, 8);
      // width: calc((100% - $flexTemplateGap) / 12 * 8)
    }

    &:nth-child(2) {
      flex: 1 1 flexWidth($flexTemplateGap, 4);
    }
  }
}

.flexTpl_4_8 {
  .col {
    &:nth-child(1) {
      flex: 1 1 flexWidth($flexTemplateGap, 4);
    }

    &:nth-child(2) {
      flex: 1 1 flexWidth($flexTemplateGap, 8);
    }
  }
}

.flexTpl_5_7 {
  .col {
    &:nth-child(1) {
      flex: 1 1 flexWidth($flexTemplateGap, 5);
    }

    &:nth-child(2) {
      flex: 1 1 flexWidth($flexTemplateGap, 7);
    }
  }

}

.flexTpl_7_5 {
  .col {
    &:nth-child(1) {
      flex: 1 1 flexWidth($flexTemplateGap, 7);
    }

    &:nth-child(2) {
      flex: 1 1 flexWidth($flexTemplateGap, 5);
    }
  }
}

.flexTpl_9_3 {
  .col {
    &:nth-child(1) {
      flex: 1 1 flexWidth($flexTemplateGap, 9);

      @include screen('tablet') {
        flex: 1 1 flexWidth($flexTemplateGap, 8);
      }
    }

    &:nth-child(2) {
      flex: 1 1 flexWidth($flexTemplateGap, 3);

      @include screen('tablet') {
        flex: 1 1 flexWidth($flexTemplateGap, 4);
      }
    }
  }
}

.flexTpl_3_9 {
  .col {
    &:nth-child(1) {
      flex: 1 1 flexWidth($flexTemplateGap, 3);

      @include screen('tablet') {
        flex: 1 1 flexWidth($flexTemplateGap, 4);
      }
    }

    &:nth-child(2) {
      flex: 1 1 flexWidth($flexTemplateGap, 9);

      @include screen('tablet') {
        flex: 1 1 flexWidth($flexTemplateGap, 8);
      }
    }
  }
}

.flexTpl_3_6_3 {
  .col {
    &:nth-child(1) {
      flex: 1 1 flexWidth($flexTemplateGap, 3);

      @include screen('tablet') {
        flex: 1 1 flexWidth($flexTemplateGap, 6);
      }
    }

    &:nth-child(2) {
      flex: 1 1 flexWidth($flexTemplateGap, 6);

      @include screen('tablet') {
        flex: 1 1 100%
      }
    }

    &:nth-child(3) {
      flex: 1 1 flexWidth($flexTemplateGap, 3);

      @include screen('tablet') {
        flex: 1 1 flexWidth($flexTemplateGap, 6);
      }
    }
  }
}

.flexTpl_3_3_6 {
  .col {
    &:nth-child(1) {
      flex: 1 1 flexWidth($flexTemplateGap, 3);

      @include screen('tablet') {
        flex: 1 1 flexWidth($flexTemplateGap, 6);
      }
    }

    &:nth-child(2) {
      flex: 1 1 flexWidth($flexTemplateGap, 3);

      @include screen('tablet') {
        flex: 1 1 flexWidth($flexTemplateGap, 6);
      }
    }

    &:nth-child(3) {
      flex: 1 1 flexWidth($flexTemplateGap, 6);

      @include screen('tablet') {
        flex: 1 1 100%
      }
    }
  }
}

.flexTpl_6_3_3 {
  .col {
    &:nth-child(1) {
      flex: 1 1 flexWidth($flexTemplateGap, 6);

      @include screen('tablet') {
        flex: 1 1 100%
      }
    }

    &:nth-child(2) {
      flex: 1 1 flexWidth($flexTemplateGap, 3);

      @include screen('tablet') {
        flex: 1 1 flexWidth($flexTemplateGap, 6);
      }
    }

    &:nth-child(3) {
      flex: 1 1 flexWidth($flexTemplateGap, 3);

      @include screen('tablet') {
        flex: 1 1 flexWidth($flexTemplateGap, 6);
      }
    }
  }
}

.flexTpl_2_2_8 {
  .col {

    &:nth-child(1) {
      flex-shrink: 0;
      flex: 1 1 flexWidth($flexTemplateGap, 2);

      @include screenMax('1200') {
        flex: 1 1 flexWidth($flexTemplateGap, 3);
      }

      @include screen('tablet') {
        flex: 1 1 flexWidth($flexTemplateGap, 6);
      }
    }

    &:nth-child(2) {
      flex-shrink: 0;
      flex: 1 1 flexWidth($flexTemplateGap, 2);

      @include screenMax('1200') {
        flex: 1 1 flexWidth($flexTemplateGap, 3);
      }

      @include screen('tablet') {
        flex: 1 1 flexWidth($flexTemplateGap, 6);
      }
    }

    &:nth-child(3) {
      flex: 1 1 flexWidth($flexTemplateGap, 8);

      @include screenMax('1200') {
        flex: 1 1 flexWidth($flexTemplateGap, 6);
      }

      @include screen('tablet') {
        flex: 1 1 100%
      }
    }
  }
}

.flexTpl_8_2_2 {
  .col {
    &:nth-child(1) {
      flex: 1 1 flexWidth($flexTemplateGap, 8);
    }

    &:nth-child(2) {
      flex-shrink: 0;
      flex: 1 1 flexWidth($flexTemplateGap, 2);
    }

    &:nth-child(3) {
      flex-shrink: 0;
      flex: 1 1 flexWidth($flexTemplateGap, 2);
    }
  }
}

.flexTpl_2 {
  .col {
    width: itemWidth($flexTemplateGap, 2);
  }
}

.flexTpl_3 {
  .col {
    width: itemWidth($flexTemplateGap, 3);

    @include screen('tablet') {
      width: 100%;
    }
  }
}

.flexTpl_4 {
  .col {
    width: itemWidth($flexTemplateGap, 4);

    @include screen('tablet') {
      width: itemWidth($flexTemplateGap, 2);
    }
  }
}

.flexTpl_5 {
  .col {
    width: itemWidth($flexTemplateGap, 5);

    @include screen('tablet') {
      width: itemWidth($flexTemplateGap, 3);
    }
  }
}

.flexTpl_6 {
  .col {
    width: itemWidth($flexTemplateGap, 6);

    @include screen('notebook') {
      width: itemWidth($flexTemplateGap, 4);
    }

    @include screen('tablet') {
      width: itemWidth($flexTemplateGap, 3);
    }
  }
}