@use 'sass:color';
@use 'sass:math';
@use 'sass:map';
@use "../variable" as *; //變數
@use "../basic/mixin" as *; //mixin

.wrapper:has(.errorPage) {
  padding: 30px !important;
  background: $colorPrimary;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorPage {
  width: 100%;
  color: #fff;

  .errorPageContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;

    @include screen('tablet') {
      gap: 30px;
    }

    h3 {
      font-size: Rem(56);
      line-height: 1.5;
      margin: 0 0 30px;

      @include screen('tablet') {
        font-size: Rem(40);
      }

      @include screen('mobile') {
        font-size: Rem(30);
        margin: 0 0 10px;
      }
    }

    p {
      font-size: Rem(36);
      line-height: 1.3;
      letter-spacing: 1.5px;
      margin: 0;
      opacity: 0.8;
      font-weight: 500;

      @include screen('tablet') {
        font-size: Rem(24);
      }

      @include screen('mobile') {
        font-size: Rem(18);
      }

      span {
        font-size: Rem(24);

        @include screen('tablet') {
          font-size: Rem(18);
        }

        @include screen('mobile') {
          font-size: Rem(16);
        }
      }
    }

    .pic {
      width: 35%;

      @include screen('tablet') {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
      }

      @include screen('mobile') {
        max-width: 250px;
      }
    }
  }

  .btnBox {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;

    @include screen('tablet') {
      gap: 10px;
    }

    button,
    a {
      color: #fff;
      text-decoration: none;
      width: 130px;
      padding: 5px 10px;
      text-align: center;
      border-radius: var(--borderRadius4);
      border: 1px solid #fff;
    }
  }
}