// wrapper
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include screen('tablet') {
    padding-top: 60px;
  }
}

// main
main {
  width: 100%;
  position: relative;
  padding-bottom: 80px;
  flex-grow: 1;

  &.innerPage {
    padding-top: 40px;
    background: #F8F8F8;
  }

  &.hasSide {
    .mainBox {
      display: flex;
      justify-content: space-between;
      gap: 40px;

      @include screen('tablet') {
        flex-direction: column;
      }
    }

    .mainContentBox {
      flex-grow: 1;
      @include transition(0.3);

      @include screen('tablet') {
        width: 100%;
      }
    }
  }

  .mainContentBox {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .pageTitle {
      font-size: Rem(36);
      margin: 0;
      font-weight: 600;
    }

    .mainContent {
      width: 100%;
    }
  }

  &.innerPage:not(.hasSide) section {
    width: 100%;
    margin: 0 auto;
  }
}